.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    width: 20%;
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .nav-link {
    color: #333;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  .bg-custom{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(29%2c 229%2c 114%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c635.33C119.516%2c633.973%2c228.802%2c577.093%2c328.819%2c511.652C428.185%2c446.637%2c536.219%2c374.431%2c571.863%2c261.161C606.591%2c150.802%2c535.611%2c39.707%2c513.04%2c-73.764C491.919%2c-179.946%2c520.275%2c-307.968%2c443.477%2c-384.275C366.712%2c-460.55%2c239.254%2c-433.176%2c132.641%2c-451.735C39.592%2c-467.933%2c-51.706%2c-511.279%2c-142.8%2c-486.332C-234.553%2c-461.204%2c-291.917%2c-377.406%2c-364.277%2c-315.648C-450.993%2c-241.637%2c-571.777%2c-195.138%2c-609.877%2c-87.687C-649.635%2c24.44%2c-617.498%2c151.216%2c-568.213%2c259.494C-518.892%2c367.852%2c-432.953%2c453.496%2c-333.654%2c519.176C-233.401%2c585.487%2c-120.191%2c636.695%2c0%2c635.33' fill='%2315b95b'%3e%3c/path%3e%3cpath d='M1440 969.932C1513.809 954.502 1570.44 901.059 1627.52 851.787 1677.479 808.662 1724.682 762.54 1750.5810000000001 701.837 1776.066 642.105 1772.6770000000001 577.149 1772.404 512.208 1772.087 436.988 1789.196 355.86400000000003 1748.857 292.374 1706.9279999999999 226.382 1631.103 185.91699999999997 1554.661 169.502 1480.832 153.649 1409.629 190.01299999999998 1335.346 203.57999999999998 1250.728 219.03500000000003 1153.093 198.83100000000002 1087.7559999999999 254.779 1020.905 312.023 1004.153 408.451 993.996 495.874 984.033 581.63 995.239 668.208 1030.5729999999999 746.979 1066.066 826.104 1118.1109999999999 900.886 1194.272 942.3589999999999 1268.155 982.592 1357.653 987.1469999999999 1440 969.932' fill='%234bea8f'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }